:root {
  --primary-color: #2e3a59; /* Dark blue-gray */
  --secondary-color: #5d6d97; /* Soft blue */
  --accent-color: #ffc107; /* Amber for a vibrant accent */
  --text-color: #ffffff; /* Pure white */
  --button-hover: rgba(
    255,
    193,
    7,
    0.2
  ); /* Light amber for button hover effect */
}

body,
html {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    145deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.app-header {
  width: 100%;
  padding: 20px 15px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-title {
  font-weight: 500;
  color: var(--accent-color);
}

.floor-selector {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 25px;
  cursor: pointer;
}

.app-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.traffic-light-container,
.other-lights-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#main-light .light,
.other-lights-container .light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.other-lights-container {
  width: 100%;
  display: flex;
  justify-content: start; /* Align items to the start */
  overflow-x: auto; /* Allow horizontal scrolling */
  background-color: #282c34;
}

.other-lights-container .light {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin: 0 15px; /* Sufficient spacing */
}

.other-lights-container .light span {
  color: #ffffff;
  font-size: 12px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  #main-light .light,
  .other-lights-container .light {
    width: 150px;
    height: 150px;
  }
  .ads-container img {
    max-width: 40%; /* Adjust the max-width for larger screens */
  }
}

.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px; /* Space between lights */
}

.light {
  width: 150px; /* Size of the light circle */
  height: 150px;
  border-radius: 50%; /* Circular lights */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Soft shadow for 3D effect */
}

.light-label {
  margin-top: 8px; /* Space between the light and the label */
  color: var(--text-color); /* Use variable for text color */
  font-size: 14px; /* Appropriately sized text */
  text-align: center; /* Center the text below the light */
  margin: 5px;
}

/* Styling for main and smaller lights for distinction */
.main .light {
  width: 200px; /* Larger main light */
  height: 200px;
}

.smaller .light {
  width: 50px; /* Smaller other lights */
  height: 50px;
}
.ads-container {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}

/* Responsive image settings */
.ads-container img {
  max-width: 100%; /* Ensures the image is never larger than the container */
  height: auto; /* Maintains the aspect ratio of the image */
}

.mapbox-container {
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}




