/* Stylesheet for Ultra Modern Traffic Light Tracker */
:root {
  --primary-color: #20232a;
  --secondary-color: #282c34;
  --accent-color: #61dafb;
  --text-color: #ffffff;
}
body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: #20232a;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure the whole viewport height is covered */
  overflow: hidden; /* Prevent any scrolling */
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.app-header {
  width: 100%;
  padding: 20px 15px;
  background-color: #1c1c1c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.app-title {
  font-weight: 700;
  color: #ffffff;
}

.floor-selector {
  padding: 10px 16px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer; /* Make it clear it's selectable */
}

.app-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.traffic-light-container,
.other-lights-container {
  width: 30%;
  max-width: 600px;
  display: flex;
  justify-content: center; /* Ensures centering of all child elements including #main-light */
  position: relative;
  margin: 10px 0;
}

#main-light .light {
  width: 300px; /* Fixed width for consistency */
  height: 300px; /* Fixed height for consistency */
  border-radius: 50%;
  justify-content: center; /* This will center the child elements horizontally */
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%; /* Ensure it takes full width if not already set */
}

.other-lights-container {
  width: 100%;
  display: flex;
  justify-content: start; /* Align items to the start */
  overflow-x: auto; /* Allow horizontal scrolling */
  background-color: #282c34;
  padding: 10px 0;
}

.other-lights-container .light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin: 0 15px; /* Sufficient spacing */
}

.other-lights-container .light span {
  color: #ffffff;
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 600px) {
  #main-light .light,
  .other-lights-container .light {
    width: 150px;
    height: 150px;
  }
}
